.btn-create {
  padding: 8px;
  background-color: #3b49df;
}
.registration_footer {
  text-align: center;
  background-color: transparent;
}
.registration_footer-content {
  display: block;
}

label{
  padding-left: 10px;
  color: #202428 !important;
  font-size: 14px;
}
